<div class="foo bar {{if baz "baz"}}"></div>

<div class="foo bar {{if aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa "a"}}"></div>

<button disabled={{disabled}}></button>
